body{
  background-color:lightgreen;
}
#cardgrid{
  width:90%;
  margin:10px auto;
  display:grid;
  grid-template-columns:repeat(13,1fr);
  gap:0.5vh;
}
/*td要素でなおかつclassにcardがついている要素*/
div.card{
  aspect-ratio: 2 / 3;
  /*background-color:yellow;*/
  background-size:contain; /*コンテナいっぱいに画像を拡大縮小する*/
}
