body{
  background-color:lightgreen;
}
#cardgrid{
  width:90%;
  margin:10px auto;
  display:grid;
  grid-template-columns:repeat(13,1fr);
  gap:0.5vh;
}
div.card{
  aspect-ratio: 2 / 3;
  background-size:contain;
}
div.back{
  background-image:url(../images/z01.gif) !important;
}
/* フェードアウトアニメーションの定義 */
@keyframes fadeOutEffect {
  to {
    opacity: 0;
  }
}
/* アニメーションを適用するクラス */
div.fadeout {
  animation: fadeOutEffect 1.2s 0.8s forwards;
}
