body{
  background-color:lightgreen;
}
#cardgrid{
  width:90%;
  margin:10px auto;
  display:grid;
  grid-template-columns:repeat(13,1fr);
  gap:0.5vh;
}
div.card{
  aspect-ratio: 2 / 3;
  background-size:contain;
}
/*div要素でclassにbackがついている要素は裏面画像(importantルール適用)*/
div.back{
  background-image:url(../images/z01.gif) !important;
}
